@import "tailwindcss";
@source "../../**/*.md";

.vp-doc .no-underline {
  text-decoration: none;
}

:root {
  --vp-c-brand-1: #22c55e;
  --vp-c-brand-2: #16a34a;
  --vp-c-brand-3: #15803d;
  --vp-c-brand-soft: #dcfce7;
}